<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAM-@ViewBag.Title</title>
    
    <!-- Fonts and icons -->
    <script src="../assets/js/plugin/webfont/webfont.min.js"></script>
    <script>
        WebFont.load({
            google: { "families": ["Helvetic:300,400,700,900"] },
            custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['../assets/css/fonts.min.css'] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });

    </script>

    <!--   Core JS Files   -->
    <script src="../assets/js/core/jquery.3.2.1.min.js"></script>
    <script src="../assets/js/core/popper.min.js"></script>
    <script src="../assets/js/core/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="../assets/js/angular.min.js"></script>

    <!-- CSS Files -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/atlantis.css">
    <link rel="stylesheet" href="../assets/css/colReorder.dataTables.min.css" />

    @RenderSection("ScriptsAdicionalesLocales", false/* or required*/)

    <style>

        table.dataTable thead tr {
            background-color: #1572E8;
            color: white
        }

        table.dataTable tbody tr:hover {
            background-color: cadetblue;
            color: white
        }

        .header th {
            height: 27px;
            line-height: 2px;
        }

        table.dataTable tbody td {
            height: 30px;
        }

        .header2 th {
            height: 25px;
            line-height: 2px;
            background-color: yellowgreen
        }
        .popover {
            background: orange;
        }
        /*
        #loading {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: #fff url('../assets/img/spinner.gif') no-repeat center;
            z-index: 99999
        }
            */
        .modalPreload {
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
            z-index: 99;
            opacity: 0.8;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
            min-height: 100%;
            width: 100%;
        }

        .loading {
            font-family: Arial;
            font-size: 10pt;
            border: 0px solid #000000;
            width: 200px;
            height: 100px;
            display: none;
            position: fixed;
            background-color: rgba(0, 43, 255, 0.3);
            z-index: 99999;
        }
    </style>

</head>
<body data-background-color="bg1" >
    <div class="loading" align="center">
        Cargando. Espere...<br />
        <br />
        <img src="../assets/img/spinner.gif" alt="" />
    </div>

    <input type="hidden" id="ContraCamb" name="ContraCamb" value="@Session["ContraseñaCambiada"].ToString()" />

    <!-- wrapper-->
    <div id="divPrincipal" class="wrapper">

        <!-- main header -->
        <div class="main-header">

            <!-- Logo Header -->
            <div class="logo-header" data-background-color="@((Session["GranSesion"] as GAM.Models.Models.UsuariosRoles).Configuracion.ClaseLogo)">

                <a href="#" class="logo">
                    <img src="../assets/img/@((Session["GranSesion"] as GAM.Models.Models.UsuariosRoles).Configuracion.Logo)" height="40" alt="navbar brand" class="navbar-brand" title="Logo">
                </a>

                <button class="navbar-toggler sidenav-toggler ml-auto" type="button" data-toggle="collapse" data-target="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="icon-menu"></i>
                    </span>
                </button>
                <button class="topbar-toggler more"><i class="icon-options-vertical"></i></button>
                <div class="nav-toggle">
                    <button class="btn btn-toggle toggle-sidebar">
                        <i class="icon-menu"></i>
                    </button>
                </div>

            </div>
            <!-- End Logo Header -->
            <!-- Navbar Header -->
            <nav class="navbar navbar-header navbar-expand-lg" data-background-color="@((Session["GranSesion"] as GAM.Models.Models.UsuariosRoles).Configuracion.ClaseLogo)">
                <div class="container-fluid">
                    <div class="collapse" id="search-nav">
                        @if (((Session["GranSesion"] as GAM.Models.Models.UsuariosRoles).Roles.Id > 1 && (Session["GranSesion"] as GAM.Models.Models.UsuariosRoles).Roles.Id != 5))
                        {
                            <form class="navbar-left navbar-form nav-search mr-md-3" method="post" action="/Home/Buscar">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button type="submit" class="btn btn-search pr-1">
                                            <i class="fa fa-search search-icon"></i>
                                        </button>
                                    </div>
                                    <input type="text" name="busqueda" placeholder="Búsqueda..." class="form-control" autocomplete="off">
                                </div>
                            </form>
                        }
                    </div>
                    <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

                        <!-- Notificaciones -->

                        <li class="nav-item dropdown hidden-caret">
                            <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false">
                                <h3><i class="fas fa-user-alt"></i></h3>
                            </a>
                            <ul class="dropdown-menu dropdown-user animated fadeIn">
                                <div class="dropdown-user-scroll scrollbar-outer">
                                    <li>
                                        <div class="user-box">
                                            <div class="u-text">
                                                <h4>@Session["NombreUsuario"].ToString()</h4>
                                                <p class="text-muted">@((Session["GranSesion"] as GAM.Models.Models.UsuariosRoles).Roles.Nombre)</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="/Home/CambiarContraseña">Cambiar Contraseña</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/Home/Salir">Salir</a>
                                    </li>
                                </div>
                            </ul>
                        </li>

                    </ul>
                </div>
            </nav>
            <!-- End Navbar -->

        </div>
        <!-- end main header -->

        <!-- Sidebar -->
        <div class="sidebar sidebar-style-2" data-background-color="white">
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <div class="user">

                        <div class="text-center">

                            <span class="text-dark font-weight-bold">
                                @Session["NombreUsuario"].ToString()<br />
                                <span class="user-level text-center">@((Session["GranSesion"] as GAM.Models.Models.UsuariosRoles).Roles.Nombre)</span>
                            </span>
                            <div class="clearfix"></div>

                        </div>
                    </div>

                    <ul class="nav nav-primary">

                        @Html.Partial("_MenuLateral") <!--Menú estático-->
                        @*@Html.Raw(Session["Menu"].ToString());*@ <!--Menú dinámico-->
                        <!--Menú del administrador exclusivamente-->
                        @if (Session["IdRol"] != null && Session["IdRol"].ToString() == "1")
                        {
                            <li class="nav-item" id="opcAdmin">
                                <a data-toggle="collapse" href="#admin">
                                    <i class="fas fa-toolbox"></i>
                                    <p>Administración</p>
                                    <span class="caret"></span>
                                </a>
                                <div class="collapse" id="admin">
                                    <ul class="nav nav-collapse">
                                        <li id="sopcUsuarios">
                                            <a href="/Administracion/Usuarios">
                                                <span class="sub-item">Usuarios</span>
                                            </a>
                                        </li>
                                        <!--li id="sopcPermisos">
                                            <a href="/Administracion/Permisos">
                                                <span class="sub-item">Permisos</span>
                                            </a>
                                        </li>
                                        <li id="sopcRoles">
                                            <a href="/Administracion/Roles">
                                                <span class="sub-item">Roles</span>
                                            </a>
                                        </li>                                        
                                        <li id="sopcConfiguracion">
                                            <a href="/Administracion/Configuracion">
                                                <span class="sub-item">Configuración</span>
                                            </a>
                                        </li-->
                                    </ul>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Sidebar -->
        
        <!-- Main Panel -->
        <div class="main-panel">
            <div class="content">

                @RenderBody()

            </div>
            <footer class="footer">
                <div class="container-fluid">

                    <div class="copyright ml-auto">
                        @@2020 ASAE Consultores
                    </div>
                </div>
            </footer>
        </div>
        <!-- End Main Panel -->

    </div>
    <!-- end wrapper-->
    <!-- jQuery UI -->
    <script src="../assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script src="../assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

    <!-- jQuery Scrollbar -->
    <script src="../assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

    <!-- Datatables -->
    <script src="../assets/js/plugin/datatables/datatables.min.js"></script>
    <script src="../assets/js/plugin/datatables/dataTables.colReorder.min.js"></script>

    <!-- Moment.js: -->
    <script src="../assets/js/plugin/datatables/moment.min.js"></script>
    <!-- Locales for moment.js-->
    <script src="../assets/js/plugin/datatables/es.js"></script>
    <script src="../assets/js/plugin/datatables/datetime-moment.js"></script>


    <!-- Bootstrap Notify -->
    <script src="../assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

    <!-- Sweet Alert -->
    <script src="../assets/js/plugin/sweetalert/sweetalert.min.js"></script>

    <!-- Atlantis JS -->
    <script src="../assets/js/atlantis.min.js"></script>

    <input type="hidden" id="IdConfiguracion" value="@Session["IdConfiguracion"].ToString()" />
    <input type="hidden" id="NomPag" value="@ViewBag.Title" />

    <script>        

        var modalPrecarga, loading;
        function ShowProgress() {
            modalPrecarga = document.createElement("DIV");
            modalPrecarga.className = "modalPrecarga";
            document.body.appendChild(modalPrecarga);
            loading = document.getElementsByClassName("loading")[0];
            loading.style.display = "block";
            var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
            var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
            loading.style.top = top + "px";
            loading.style.left = left + "px";
        };
        ShowProgress();

        window.onload = function () {
            setTimeout(function () {
                document.body.removeChild(modalPrecarga);
                loading.style.display = "none";
            }, 0);
        };

        $(document).ready(function () {

            //Alerta para cambiar la contraseña asignada por el sistema a personal
            //if ($('#ContraCamb').val() === '0') {
            //    $.notify('Modifique su contraseña. Detrás de este mensaje se encuentra el acceso para modificarla', { autohide: true, });
            //}

            //if ($('#IdConfiguracion').val() === '2' && $('#NomPag').val() === 'Listado') {
            //    $('#divPrincipal').addClass('wrapper sidebar_minimize');
            //}

            $('#basic-datatables').DataTable({
                colReorder: true,
                "pageLength": 50,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });

            $('#basic-datatables-compartidos').DataTable({
                colReorder: true,
                "pageLength": 50,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });

            $('#basic-datatables2').DataTable({
                "pageLength": 50,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });

            $('#basic-datatables3').DataTable({
                "pageLength": 20,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });

            $('#basic-datatables-actividades').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });

        });

    </script>

</body>
</html>

